*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    background-color: gray;
    display: flex;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 30px;
}
